{% include base_path %}

<div class="masthead sg-masthead">
  <div class="masthead__inner-wrap sg-masthead__wrap">
    <a class="sg-mark" href="{{ base_path }}/">uday<span>.</span>bkv</a>

    <nav class="sg-nav" id="site-nav">
      <ul>
        {% for link in site.data.navigation.main %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = base_path %}
          {% endif %}
          <li><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
